page-register {
  ion-title {
    .toolbar-title {
      color: #65b089;
    }
  }

  .list {
    .item-block {
      .item-inner {

        padding-right: 0;

        border-bottom: none;
      }

      &.or {
        .divider {
          margin-top: 20px;
          margin-bottom: 20px;
          width: 97%;
          text-align: center;
          border: none;
          border-top: 1px solid #a8a8a8;

          &:after {
            content: 'or';
            position: absolute;
            top: 48%;
            left: 0;
            right: 0;
            padding: 0;
            margin: auto;
            width: 40px;
            height: auto;
            font-size: 16px;
            color: #a8a8a8;
            background: #fff;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
          }
        }
      }

      &.ask-question {
        font-size: 12px;
        text-align: center;

        border-bottom: none;

        a {
          color: #f4a460;
          text-decoration: none;
        }
      }
    }

    .btn-email,
    .btn-facebook,
    .btn-google,
    .btn-register {
      width: 100%;
    }

    ion-icon {
      margin-right: 10px;
    }

    .btn-facebook {
      background: #3c5a96;
    }

    .btn-google {
      background: #1c6bee;
    }

    .btn-email,
    .btn-register {
      background: #008f51;
    }


    hr {
      border: 0 solid #ccc;
    }
  }
}
