page-register {
  .list {
    .item-block {
      .item-inner {

        padding-right: 0;

        border-bottom: 0 solid #fff;
      }
    }

    .btn-login,
    .btn-facebook,
    .btn-google,
    .btn-register {
      width: 100%;
    }

    ion-icon {
      margin-right: 10px;
    }

    .btn-facebook {
      background: #3c5a96;
    }

    hr {
      border: 0 solid #ccc;
    }
  }
}
